# Ignore everything
*

# Except these files
!.gitignore
!README.md
!.gitmodules

# Config files
# First, let's ignore all the contents of the config directory
.config/*

# Except for these that I want to keep track of
!.config/
!.config/nvim

# Wezterm config
.config/wezterm/*
!.config/wezterm/
!.config/wezterm/*.lua
!.config/wezterm/bg/
!.config/wezterm/bg/*

# I3 config
.config/i3/*
!.config/i3/
!.config/i3/config

# Picom config
.config/picom/*
!.config/picom/
!.config/picom/picom.conf

# Override unnecessary files; These forces git to ignore following files even if a previous rule would include them
.env
.DS_Store
.vscode/
